.header {
  background-color: white !important;
  box-shadow: inset 0 -1px 0 #f0f0f0;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px !important;
}
